.thumbnail-image-item {
  list-style-type: none;
  margin: 10px;
}
.thumbnail-btn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.thumbnail-image {
  height: 80px;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    height: 100px;
    width: 100px;
  }
}
